<h1>invite card</h1>

<div class="row" >
  <% invites.each do |invite| %>
        <div class="col-6">

          <%= link_to list_path(invite.list), class: "list-card-link",
                                              data: {turbolinks: false} do%>
            <div class="list-card" >
              <div class="list-card-top">
                <div class="avatar-card">
                  <% if invite.list.user.avatar.attached? %>
                    <p><%= cl_image_tag invite.list.user.avatar.key, width: 50, height: 50, crop: :fill, style: "border-radius: 50%;", class: "image" %></p>
                  <% else %>
                    <%= image_tag("avatar.png", width: 50, height: 50, crop: :fill, style: "border-radius: 50%;", class: "image") %>
                  <% end %>
                  <div class="middle">
                    <div class="text">
                      <%= invite.list.user.first_name %>
                    </div>
                  </div>
                </div>
                <h3><%= invite.list.name %></h3>
              </div>
              <div class="list-card-bottom">

                <% if invite.accepted.nil? %>
                  <div class="accept-invite">
                    <%= link_to list_invite_path(invite.list_id, list.id), remote: true, method: :patch do %>
                      <span class='button-interactive invite-button'>Accept</span>
                    <% end %>
                  </div>
                <% end %>

                <div class="list-invitees">
                  <% invite.list.invites.each do |invite| %>
                    <% if invite.user.avatar.attached? %>
                      <%= cl_image_tag invite.user.avatar.key, width: 30, height: 30, crop: :fill, class: "list-invitee" %>
                    <% else %>
                      <%= image_tag("avatar.png", class: "list-invitee") %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
</div>

