<!--<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

class="collapse navbar-collapse" id="navbarSupportedContent"-->
<div class="container">

  <h1 class="title-home">Welcome to ListIn</h1>
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "crete a new list", new_list_path, class: "button" %>
        </li>
        <li class="nav-item">
          <%= link_to "my lists", lists_path, class: "button" %>
        </li>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "button" %>
        </li>
      <% end %>
    </ul>
  </div>
