<div class="container row">
  <%= simple_form_for [@list, @item], remote: true do |f| %>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <div class="form-wrapper item-form">
        <div class="row add-item-bar">
          <%= f.input :title,
                      :placeholder => "chocolate",
                      label: false,
                      class: "item-input" %>
          <%= f.input :quantity,
                      :placeholder => '200g',
                      label: false,
                      class: "item-input"%>
          <%= f.button :submit, '+',
                      class: "button-add-item"%>
        </div>
      </div>
  <% end %>
</div>
